.dropdown {
  position: relative;
}

.trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 500;
  color: variables.$text-color-primary;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  .icon {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease;

    &.active {
      transform: rotate(-180deg);
    }

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.content {
  padding: 10px;
  border-radius: 24px;
  box-shadow: 0px 10px 30px 0px #0000000f;
  font-size: 14px;
  transition: all 0.3s ease;
  opacity: 1;

  .item {
    padding: 10px 16px;
    border-radius: 100px;
    transition: all 0.3s ease;
    white-space: nowrap;
    cursor: pointer;
    outline: none;

    &:focus {
      background: variables.$background-color-secondary;
    }

    &:hover {
      background: variables.$background-color-secondary;
    }
  }
}
