.iconText {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  .text {
    font-size: 20px;
    color: variables.$text-color-primary;
    // max-width: 140px;

    &.small {
      font-size: 16px;
    }
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    color: #f28774;
  }
}
