.banner {
  margin-top: 60px;
  padding: 80px;
  position: relative;

  &Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    .bannerInfo {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .bannerButton {
        width: 260px;
      }
    }

    .bannerInfoParagraph {
      font-size: 24px;
      font-weight: 500;
      color: $text-color-primary;
      max-width: 508px;
    }

    .bannerInfoH1 h1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 60px;
      color: $text-color-primary;
      font-weight: 800;
      gap: 20px;

      .switch {
        width: 80px;
        height: 80px;

        svg {
          object-fit: contain;
        }
      }
    }
  }

  .bannerImage {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.advantages {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
