.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0px 32px;
  border: none;
  background: variables.$button-color-primary;
  cursor: pointer;
  border-radius: 100px;
  color: variables.$text-color-tetrary;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s ease;

  &:hover {
    background: variables.$button-color-primaryHover;
  }

  &:active {
    background: variables.$button-color-primaryActive;
  }

  &.small {
    height: 40px;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    &.reverse {
      flex-direction: row-reverse;
    }

    .svg {
      width: 20px;
      height: 20px;
      display: none;

      &.active {
        display: flex;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
