.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0px 32px;
    border: none;
    background: $button-color-primary;
    cursor: pointer;
    border-radius: 100px;
    color: $text-color-tetrary;
    font-weight: 600;
    font-size: 18px;
    transition: all .3s ease;

    &:hover{
        background: $button-color-primaryHover;
    }

    &:active{
        background: $button-color-primaryActive;
    }

    &.small{
        height: 40px;
    }

    .content{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .svg{
            width: 20px;
            height: 20px;
            display: none;

            &.active{
                display: flex;
            }

            svg{
                width: 100%;
                height: 100%;
            }
        }
    }
}