$text-color-primary: #262626;
$text-color-secondary: #656565;
$text-color-tetrary: white;
$text-color-gray: #BBBBBB;
$text-color-green: #0CA640;
$text-color-yellow: #D1B41D;
$text-color-red: #EE3F3F;
$text-color-accent: #F28774;

$button-color-primary: #F28774;
$button-color-primaryHover: #E87D6A;
$button-color-primaryActive: #D46956;
$button-color-secondary: #ECECEC;
$button-color-secondaryHover: #D9D9D9;
$button-color-secondaryActive: #CECECE;
$button-color-secondaryDisable: #F2F2F2;

$background-color-primary: #fff;
$background-color-secondary: #F8F8F8;
$background-color-tetrary: #FBFBFB;
$background-color-quaternary: #F28774;
$background-color-black: #292929;

$stroke-color-black: #262626;
$stroke-color-gray1: #929292;
$stroke-color-gray2: #DEDEDE;
$stroke-color-gray3: #EBEBEB;
$stroke-color-accent: #F28774;
$stroke-color-red: #EE3F3F;

$table-color-primary: #D8D8D8;
$table-color-secondary: #EAECF0;

$illustration-color-primary: #262626;
$illustration-color-secondary: #F28774;
$illustration-color-primary1: #fff;
$illustration-color-quaternary: #F5F5F5;

$label-color-gray: #F3F3F3;
$label-color-green: #E1FFE1;
$label-color-yellow: #FFF8E1;
$label-color-red: #FFE3E1;