*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans';
}

.container{
  max-width: 1224px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: inherit;
}